/* -------  General Styles ------- */

body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
  text-align: center;
}

.logo {
  font-family: 'Pangolin', cursive;
  font-size: 72px;
  color: #fff;
}

#menu {
  display: flex;
  justify-content: space-around;
}

#menu li {
  list-style-type: none;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

#menu li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* extreme small mobile view up to 420px */
@media all and (max-width: 420px) {
  form input,
  form select {
    width: 140px;
  }
}

/* 480px and above for "desktop" view */
@media all and (min-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 2em;
  }

  form {
    display: flex;
    gap: 15px;
  }

  form div {
    flex-direction: column;
    width: 18%;
    flex: 1;
  }

  form div input,
  form div select {
    width: 100%;
  }

  form button {
    font-size: 20px;
    width: auto;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
